



.navbar {
    height: var(--NAVBARHEIGHT);
    width: calc(100vw - (100vw - 100%));
    max-width: calc(100vw - (100vw - 100%));
    
    
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(205, 205, 205);
    padding: 0 20px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    top: 0;
    
}
.mailid {
    font-size: 13px;
    color: rgb(156, 156, 156);
}
.navbarmenulist {
    height: 100%;
    text-align: center;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    




}


.nav_btn {
    height: 100%;
   
    width: 100px;
    background-color: inherit;
    font-size: 16px;
    transition: all 0.3s;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav_btn:hover {
    background-color: rgb(231, 231, 231);
    

    
}

.pageactive {
    color: rgb(20, 83, 255);
    position: relative;
    
}
.pageactive::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 70px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    height: 5px; /* Adjust as needed */
    background-color: rgb(20, 83, 255);; /* Adjust color as needed */
    border-radius: 50px;
}

 
  


  @media (max-width: 450px) {
    .navbar {
        justify-content: end;
        
    }
    .mailid {
        visibility: hidden;
        max-width: 10px;
        display: none;
    }

  }
  @media (min-width: 451px) and (max-width: 600px) {
    .navbar {
        padding: 0 10px;
        
    }
    .navbar button {
        width: 80px;
        text-overflow: clip;
    }
    
  }
  
  