



.navbar {
    height: var(--NAVBARHEIGHT);
    width: calc(100vw - (100vw - 100%));
    max-width: calc(100vw - (100vw - 100%));
    
    
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(205, 205, 205);
    padding: 0 20px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    top: 0;
    
}
.mailid {
    font-size: 13px;
    color: rgb(156, 156, 156);
}
.navbarmenulist {
    height: 100%;
    text-align: center;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    




}


.nav_btn {
    height: 100%;
   
    width: 100px;
    background-color: inherit;
    font-size: 16px;
    transition: all 0.3s;
}
.nav_btn:hover {
    background-color: rgb(231, 231, 231);
    

    
}

.pageactive {
    color: rgb(20, 83, 255);
    position: relative;
    
}
.pageactive::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 70px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    height: 5px; /* Adjust as needed */
    background-color: rgb(20, 83, 255);; /* Adjust color as needed */
    border-radius: 50px;
}

 
.navbar_menu {
    
  
    
    cursor: pointer;
    background-color: inherit;
    height: 38px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: all 0.3s;

  }
  .navbar_menu:hover {
    
    background-color: rgb(218, 216, 216,0);

  }
  .navbar_menuicon:hover + .tooltiptext  {
    
    visibility: visible;
    opacity: 1;
    transition: all 1s;
    
  }
  .navbar_menuboxdetails {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: auto;
    width: 250px;
    max-width: calc(100vw - 0px);
    position: absolute;
      right: -0px;
    top: var(--NAVBARHEIGHT);
    
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    z-index: 1;
    color: rgb(0, 0, 0);
    
    
  }
  .navbar_showmenu {
    display: flex;
    transform: translateX(0px);
  
  }
  .navbar_hidemenu {
    display: none;
    transform: translateX(0px);
    opacity: 0;
    visibility: none;

  }
  


  @media (max-width: 450px) {
    .navbar {
        justify-content: end;
        
    }
    .mailid {
        visibility: hidden;
        max-width: 10px;
        display: none;
    }

  }
  @media (min-width: 451px) and (max-width: 600px) {
    .navbar {
        padding: 0 10px;
        
    }
    .navbar button {
        width: 80px;
        text-overflow: clip;
    }
    
  }
  
  